# PYTHON_ENV=production
# PYTHON_ENV=development
PYTHON_ENV=local
SERVER_HOST=0.0.0.0
SERVER_PORT=8080
AUTH0_AUTH0_DOMAIN = {AUTH0_AUTH0_DOMAIN}
AUTH0_API_AUDIENCE = {AUTH0_API_AUDIENCE}
AUTH0_RS256_ALGORITHMS = {AUTH0_RS256_ALGORITHMS}